*{
    margin:0;
    padding:0;

}
.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carrossel {
    width: 512px; /*Ajuste de sincronização com 35 */
    /*Exibir apenas uma imagem*/
    overflow: hidden;
}

.container{
    display: flex;   
    /*Manipulando o deslocamento no eixo x*/
    transform: translateX(0);
    /*Efeito de transição suave*/
    transition: transform 0.5s ease-in-out;
}
.container img {
    max-width: 512px; /*Ajuste de sincronização com 35 */
}